.title, .regular-text {
  color: #fb8c00;
}

.title-sec, .regular-text-sec {
  color: #7cb342;
}

.word:hover {
  cursor: pointer;
}

.highlighted {
  background-color: #fdd835;
  color: white;
}

.highlighted-word {
  color: #ffd600;
}


.sortable:hover {
  cursor: pointer;
}

/* label color */
.input-field label {
 color: #fb8c00;
}

/* label underline color */
.input-field input[type=number] {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}

/* label focus color */
.input-field input[type=number]:focus + label {
 color: #7cb342;
}
/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #7cb342;
  box-shadow: 0 1px 0 0 #7cb342;
}

.preferred {
  background-color: #7cb342 !important;
}

/* textarea underline focus color */
.input-field textarea {
  border-bottom: 1px solid #f57c00;
  box-shadow: 0 1px 0 0 #f57c00;
}

.input-field textarea:focus {
  border-bottom: 1px solid #7cb342!important;
  box-shadow: 0 1px 0 0 #7cb342!important;
}

.input-field textarea {
  color: #f57c00;
}

.input-field textarea + label {
  color: #f57c00;
}

/* textarea label focus color */
.input-field textarea:focus + label {
  color: #7cb342 !important;
}

.analyze-button {
  background-color: #f57c00 !important;
}
